# config database Postgres 
DB_ENGINE=your_driver
DB_NAME=your_existing_database 
DB_USER=your_user 
DB_PASSWORD=your_password 
DB_HOST=url_to_your_host
DB_PORT=your_db_port 

# mode 
SECRET_KEY=change-me-for-dev
DEBUG_MODE=True

# host
ALLOWED_HOSTS=localhost,127.0.0.1 